.App{
  text-align: center;
  height:97vh;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(https://wallpaperaccess.com/full/1306125.jpg);
}

nav {
  height: 55px;
  background-color: #fe6e06;
  display: flex;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color:aliceblue;
}

.scritta_benvenuto{
  margin-left: 39%;
  margin-top: 15px;
}

nav ul {
  list-style-type: none;
  flex: 2;
  display: flex;
}

nav li :hover {
  display: inline;
  text-align: right;
  flex: 1;
  color:indigo;
}

.admin_btn {
  background-color:#fe6e06;
  border: none;
  display: inline-block;
  font-size: 1.02rem;
  color: white;
  margin-right: 2%;
  font-family:Georgia, 'Times New Roman', Times, serif;
  cursor: pointer;
  text-decoration:underline;
}

.Container-principale{
  background-color:aliceblue;
  border-radius: 12px;
  color:black;
  font-size: 15px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 40px;
  text-align: center;
  text-rendering: optimizeLegibility;
  width: 40%;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 16%);
  position: absolute;
  margin-top: 6%;
  margin-left: 27%;

}

.btn_visualizzaMenu{
  border-radius: 12px;
  border-color: aliceblue;
  height: 70px;
  width: 130px;
  font-size:medium;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color:#fe6e06;
  color: aliceblue;
  cursor: pointer;
}

footer{
  height:1vh;
  text-align: left;
  margin-left: 10px;
}
