
<h3>Inserisci un nuovo elemento nel menu</h3>

<form action="/inserisciElemento" method="POST">
  <div>
    <label for="nome">nome</label>
    <input type="text" id="nome" name="nome" required>
  </div>
  <div>
    <label for="prezzo">prezzo</label>
    <input type="text" id="prezzo" name="prezzo" required>
  </div>
  <div>
    <label for="descrizione">descrizione</label>
    <input type="text" id="descrizione" name="descrizione" required>
  </div>
 
  <button type="submit">Inserisci</button>
</form>
