<!DOCTYPE html>
<html>
  <head>
    <title>Pagina cibo</title>
  </head>
  <body>
    <h1>Benvenuto nella pagina </h1>
    <p>effettua la tua scelta per continuare</p>
    <nav>
      <div>
        vuoi inserire un nuovo elemento nel menu<a href="/inserisciElemento">Inserisci</a> 
      </div>
      <div>
          altrimenti visualizza il menu <a href="/visualizzaMenu">Visualizza Menù</a>
      </div>
      <div>
        aggiorna un elemento del menu <a href="/aggiornaMenu">aggiorna Menù</a>
    </div>
    <div>
      registra un amministratore<a href="/registrazioneAmministratore">Registrati</a>
  </div>
  <div>
    Accedi come amministratore<a href="/loginAmministratore">Accedi</a>
</div>
    </nav>
  </body>
</html>