<h1>Registrati</h1>
<h3>Inserisci lo username con cui potrai effettuare l'accesso le prossime volte</h3>

<form action="/registrazioneAmministratore" method="POST">
  <div>
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="text" id="password" name="password" required>
  </div>
 
  <button type="submit">Registrati</button>
</form>
