.Add{
   margin:0;
  padding: 0;
  height:97vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(https://wallpaperaccess.com/full/1306125.jpg);
}
   
nav {
    height: 55px;
    background-color: #fe6e06;
    display: flex;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:aliceblue;
}
    
.scritta_add_prodotto{
  margin-left: 38%;
  margin-top: 15px;
}
    
nav ul {
  list-style-type: none;
  flex: 2;
  display: flex;
}
    
nav li {
  display: inline;
  text-align: right;
  flex: 1;
  margin-right: 15px;
}
    
.pagina_precedente{
  display: inline-block;
  font-size: 1.02rem;
  color:aliceblue;
  background-color: #fe6e06;
  margin-right: 2%;
  border: none;
  text-decoration: underline;
  cursor: pointer;
  font-family:Georgia, 'Times New Roman', Times, serif
}
    
.Container_principale{
  background-color: #fff;
  border-radius: 12px;
  color: black;
  padding: 35px;
  text-align: center;
  text-rendering: optimizeLegibility;
  width: 25%;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 16%);
  position: absolute;
  margin-top: 6%;
  margin-left: 35%;
}
    
footer{
  height: 1vh;
  text-align: left;
  margin-left: 10px;
  
}
  
.form-group-nome{
  margin-right: 42px;
  margin-bottom: 15px;
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.form-group-descrizione{
  margin-bottom: 15px;
  margin-right:11px;
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.form-group-prezzo{
  margin-bottom: 15px;
  margin-left: 34px;
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
  
.btn_add_new{
  border-radius: 10px;
  margin-top: 5px;
  height: 40px;
  width: 170px;
  background-color: #fe6e06;
  color: aliceblue;
  border: #fff;
  font-size: large;
  font-family: Georgia, 'Times New Roman', Times, serif;
  cursor: pointer;
}

.btn_add_new:hover{
  text-decoration: underline;
}
  
input{
  height: 25px;
  width: 150px;
  font-size: small;
}
  