.scritta_ordine{
    font-size: 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font: bold;
}

.totale{
    color: aliceblue;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font: bold;
}

.div_totale{
    border-radius: 15px;
    background-color: limegreen;
    height: 38px;
    width: 35%;
    margin-left: 33%;
}